@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.172 0.006 82.66);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.172 0.006 82.66);
  --primary: oklch(0.77 0.15 155);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.35 0.01 287);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.96 0.002 120);
  --muted-foreground: oklch(0.64 0.01 82);
  --accent: oklch(0.35 0.01 287);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.82 0.006 82);
  --input: oklch(0.98 0 0);
  --ring: oklch(0.77 0.15 155);
  --chart-1: oklch(0.7695 0.185 154.3834);
  --chart-2: oklch(0.4423 0.0505 287.0919);
  --chart-3: oklch(0.74 0.0429 288.3581);
  --chart-4: oklch(0.8614 0.0137 290.7123);
  --chart-5: oklch(0.9538 0.008 286.2471);
  /* Brand Colors */
  --brand-0: oklch(0.77 0.15 155);
  --brand-1: oklch(0.65 0.14 155);
  --brand-2: oklch(0.92 0.04 155);
  /* Dark Scale */
  --dark-1: oklch(0.172 0.006 82.66);
  --dark-2: oklch(0.35 0.01 82);
  --dark-3: oklch(0.64 0.01 82);
  /* Gray Scale */
  --gray-1: oklch(0.82 0.006 82);
  --gray-2: oklch(0.91 0.004 120);
  --gray-3: oklch(0.96 0.002 120);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.7695 0.185 154.3834);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.4423 0.0505 287.0919);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.7695 0.185 154.3834);
  --font-sans:
    var(--font-interphases), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: Georgia, 'Times New Roman', Times, serif;
  --font-mono:
    var(--font-interphases-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --radius: 6px;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: normal;
  --spacing: 0.25rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.172 0.006 82.66);

  /* React Toastify Overrides */
  --toastify-color-light: oklch(1 0 0);
  --toastify-color-dark: oklch(0.172 0.006 82.66);
  --toastify-color-info: var(--primary);
  --toastify-color-success: var(--primary);
  --toastify-color-warning: var(--accent);
  --toastify-color-error: var(--destructive);
  --toastify-text-color-light: var(--foreground);
  --toastify-text-color-dark: oklch(1 0 0);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.77 0.15 155);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.35 0.01 287);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.252 0 0);
  --muted-foreground: oklch(0.683 0 0);
  --accent: oklch(0.35 0.01 287);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.32 0 0);
  --input: oklch(0.22 0 0);
  --ring: oklch(0.77 0.15 155);
  --chart-1: oklch(0.7695 0.185 154.3834);
  --chart-2: oklch(0.4423 0.0505 287.0919);
  --chart-3: oklch(0.74 0.0429 288.3581);
  --chart-4: oklch(0.8614 0.0137 290.7123);
  --chart-5: oklch(0.9538 0.008 286.2471);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.7695 0.185 154.3834);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.4423 0.0505 287.0919);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.7695 0.185 154.3834);
  --font-sans:
    var(--font-interphases), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: Georgia, 'Times New Roman', Times, serif;
  --font-mono:
    var(--font-interphases-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --radius: 6px;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #ffffff;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 100% / 0.05);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0% 100% / 0.05);
  --shadow-sm: 0px 4px 8px 0px hsl(0 0% 100% / 0.1), 0px 1px 2px -1px hsl(0 0% 100% / 0.1);
  --shadow: 0px 4px 8px 0px hsl(0 0% 100% / 0.1), 0px 1px 2px -1px hsl(0 0% 100% / 0.1);
  --shadow-md: 0px 4px 8px 0px hsl(0 0% 100% / 0.1), 0px 2px 4px -1px hsl(0 0% 100% / 0.1);
  --shadow-lg: 0px 4px 8px 0px hsl(0 0% 100% / 0.1), 0px 4px 6px -1px hsl(0 0% 100% / 0.1);
  --shadow-xl: 0px 4px 8px 0px hsl(0 0% 100% / 0.1), 0px 8px 10px -1px hsl(0 0% 100% / 0.1);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 100% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* Brand Colors */
  --color-brand-0: var(--brand-0);
  --color-brand-1: var(--brand-1);
  --color-brand-2: var(--brand-2);
  /* Dark Scale */
  --color-dark-1: var(--dark-1);
  --color-dark-2: var(--dark-2);
  --color-dark-3: var(--dark-3);
  /* Gray Scale */
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  letter-spacing: var(--tracking-normal);
}

/* Hide scrollbar for textarea and other elements */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.root {
  isolation: isolate;
}

html {
  scroll-behavior: smooth;
}
